.minH{
    min-height: 85vh;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.aboutBackdround{
    background:rgb(3, 75, 47);
    min-height: 30vh;
    transition: clip-path 1s;
}
.aboutBackdround:hover{
    background:rgb(8, 31, 14);
}